.hidden-block{
    display: none !important;
}

.project{
    padding-top: 0;
}

    .project-title{
        font-weight: 300;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .project__info{
        margin-top: 35px;
        position: relative;
        background: #ece8e2;
    }

        .compain{
            position: absolute;
            z-index: 10;
            width: 120px;
            height: 119px;
            background: url(../img/bg__compain.png) no-repeat 0 0;
            top:-7px;
            right:-5px;
            display: none;
        }

        .has_compain .compain{
            display: block;
        }

            .owl-item-one .compain{
                top: 4px;
                right: 5px;
                pointer-events:none;
            }

            .compain--text{
                display: block;
                -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
                transform: rotate(45deg);
                margin-left: 29px;
                margin-top: 33px;
            }

                .compain--text img{
                    display: inline-block;
                    vertical-align: top;
                    width: 20px;
                    height: 20px;
                    -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
                    transform: rotate(-45deg);
                }

                .compain--text span{
                    font-size: 16px;
                    line-height: 16px;
                    text-transform: uppercase;
                    color: #fff;
                    display: inline-block;
                    vertical-align: top;
                    padding-left: 3px;
                }

        .project__info__photo{
            display: inline-block;
            vertical-align: top;
        }

            .project__info__photo--main-photo{
                display: block;
                overflow: hidden;
                height: 490px;
                width: 580px;
            }

                .project__info__photo--main-photo a{
                    display: flex;
                    display: -ms-flex;
                    display: -webkit-flex;
                    justify-content: center;
                    -ms-justify-content: center;
                    -webkit-justify-content: center;
                    align-items: center;
                    -ms-align-items: center;
                    -webkit-align-items: center;
                    height: 490px;
                    width: 580px;
                }

                .project__info__photo--main-photo.item-img a:before{
                    bottom: 0;
                }

                    .project__info__photo--main-photo a img{
                        width: auto;
                        height: auto;
                        display: block;
                    }

    .project__info__photo--other-photo a{
        width: 160px;
        height: 125px;
        overflow: hidden;
        display: flex;
        display: -ms-flex;
        display: -webkit-flex;
        justify-content: center;
        -ms-justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -ms-align-items: center;
        -webkit-align-items: center;
        vertical-align: top;
        position: relative;
        border:4px solid transparent;
    }

        .project__info__photo--other-photo a:hover{
            border-color: #623f2d;
        }


        .project__info__photo--other-photo a img{
            min-width: 100%;
            min-height: 100%;
        }

        .project__info__photo--other-photo a:before{
            bottom: 0;
        }

    .project__info__content{
        display: inline-block;
        vertical-align: top;
        margin-left: 16px;
        padding-top: 14px;
    }
        .project__info__content--area{
            display: block;
            font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
            font-size: 16px;
        }

            .project__info__content--area strong{
                font-size: 24px;
                color: #6d3d28;
                font-weight: 500;
            }

                .project__info__content--area strong sup{
                    font-size: 15px;
                }

        .project__info__content--complectation{
            display: block;
            margin-top: 13px;
        }

            .project-complectation--text{
                font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
                font-size: 16px;
                display: block;
            }

            .jq-selectbox{
                position: relative;
            }

            .jq-selectbox.focused .jq-selectbox__select{
                border-color: rgb( 229, 229, 229 );
            }
.jq-selectbox__select:hover{
    background-color: #E6E6E6;
    background-position: 0 -18px;
    border-color: #adadad;
}

        .jq-selectbox__select{
            border-style: solid;
            border-width: 1px;
            border-color: rgb( 229, 229, 229 );
            border-radius: 5px;
            background-image: -moz-linear-gradient( 90deg, rgb( 243, 243, 243 ) 0%, rgb( 255, 255, 255 ) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgb( 243, 243, 243 ) 0%, rgb( 255, 255, 255 ) 100%);
            box-shadow: 0px 2px 0px 0px rgb( 193, 193, 193 );
            border-radius: 5px !important;
            margin-top: 12px;
            text-transform: uppercase;
            text-align: left;
            display: block;
            float: none !important;
            position: relative;
            margin-right: 0;
            width: 270px;
            outline: none;
            height: auto !important;
            padding: 6px 8px 3px!important;
        }
        .jq-selectbox__select-text{
            font-size: 14px;
            font-weight: 400;
            text-shadow: none;
            color: #6d3d28;
        }

        .jq-selectbox__trigger{
            border-left: none;
        }

        .jq-selectbox__trigger-arrow{
            top:19px;
        }

            .jq-selectbox .select .text{
                text-align: left;
                padding-left: 10px;
                display: block;
            }

            .jq-selectbox li.selected{
                background: #6d3d28;
            }

            .jq-selectbox__dropdown{
                top:54px !important;
                background: #fff;
            }

                .jq-selectbox__dropdown li{
                    line-height: 30px;
                    text-align: center;
                    padding: 3px 0;
                    display: block;
                    color: #6d3d28;
                }

                .jq-selectbox__dropdown li:hover{
                    color: #fff;
                    background: #6d3d28;
                }

    .project-complectation--select{
        display: none;
    }

        .project__info__content--request{
            display: block;
            margin-top: 17px;
        }

            .project-request--price-text{
                display: inline-block;
                vertical-align: top;
                width: 215px;
                text-align: left;
                font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
                font-size: 16px;
                border-bottom: 1px solid #e5e5e5;
            }

                span.project-request--price-value-old{
                    color: #777;
                    font-size: 20px;
                    padding-top: 5px;
                    font-style: normal;
                    line-height: 20px;
                    display: none;
                }
                .has_compain .project-request--price-value-old{
                    display: block;
                }
                    span.project-request--price-value-old i{
                        display: inline;
                        position: relative;
                        font-style: normal;
                    }

                        span.project-request--price-value-old i:after{
                            position: absolute;
                            content: '';
                            border:1px solid #777;
                            left:0;
                            right:0;
                            top:49%;
                        }

                .project-request--price-value{
                    font-size: 30px;
                    color: #6d3d28;
                    font-weight: 500;
                    display: block;
                }

    #product .project .popup-request, #product .project .popup-request:hover{
        color: #fff;
        border-color: transparent;
        background: rgb(109,61,40);
        background: -moz-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(109,61,40,1)), color-stop(100%, rgba(94,54,37,1)));
        background: -webkit-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        background: -o-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        background: -ms-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        background: linear-gradient(to bottom, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d3d28', endColorstr='#5e3625', GradientType=0 );
        text-shadow: 0px -1px 0px rgb( 0, 0, 0 );
        margin-top: 4px;
        padding: 17px 67px;
        box-shadow: none;
    }

    .project .project__info__content .popup-request, .project .project__info__content .popup-request:hover{
        vertical-align: bottom;
        margin-bottom: 10px;
    }

    .project__info__content--action{
        margin-top: 12px;
    }

         .project__info__content--action a{
             margin-bottom: 13px;
         }

    .project .popup-individual{
        padding: 13px 23px 11px 19px;
        margin-right: 10px;
    }

        .project .popup-individual img, .project .popup-mortgage img{
            margin-right: 10px;
        }

    .project  .popup-mortgage{
        padding: 13px 23px 11px 19px;
    }

/* tabs */

.project__tabs{
    margin-top: 31px;
}

.project__tabs-box{display: none}
.project__tabs-box.visible{display: block}

.project__tabs--tabs-list{
    width: 100%;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-end;
    -ms-align-items: flex-end;
    -webkit-align-items: flex-end;
    margin-bottom: 0;
}

    .project__tabs--tabs-list li{
        background: -moz-linear-gradient(top,  rgba(243,243,243,0.01) 66%, rgba(243,243,243,1) 100%, rgba(243,243,243,1) 102%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(66%,rgba(243,243,243,0.01)), color-stop(100%,rgba(243,243,243,1)), color-stop(102%,rgba(243,243,243,1)));
        background: -webkit-linear-gradient(top,  rgba(243,243,243,0.01) 66%,rgba(243,243,243,1) 100%,rgba(243,243,243,1) 102%);
        background: -o-linear-gradient(top,  rgba(243,243,243,0.01) 66%,rgba(243,243,243,1) 100%,rgba(243,243,243,1) 102%);
        background: -ms-linear-gradient(top,  rgba(243,243,243,0.01) 66%,rgba(243,243,243,1) 100%,rgba(243,243,243,1) 102%);
        background: linear-gradient(to bottom,  rgba(243,243,243,0.01) 66%,rgba(243,243,243,1) 100%,rgba(243,243,243,1) 102%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03f3f3f3', endColorstr='#f3f3f3',GradientType=0 );

        border:1px solid #e5e5e5;
        border-radius: 4px 4px 0 0;
        text-align: center;
        text-transform: uppercase;
        color: #6d3d28;
        font-weight: 400;
        font-size: 14px;
        padding: 8px 41px 7px;
        cursor: pointer;
    }

    .project__tabs--tabs-list li.current{
        color: #fff;
        background: #b5816a;
        font-weight: 400;
        padding: 10px 41px 9px;
        border-color: #b5816a;
        cursor: default;
    }

    .project__tabs-box{
        padding: 20px 20px 13px;
        position: relative;
        font-size: 14px;
        color: #777;
        line-height: 17px;
    }

        .project__tabs-box:before{
            z-index: 5;
            content: '';
            position: absolute;
            top:0;
            left:0;right:0;
            height: 50px;
            background: rgb(243,243,243);
            background: -moz-linear-gradient(top,  rgba(243,243,243,1) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,1)), color-stop(100%,rgba(255,255,255,1)));
            background: -webkit-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(255,255,255,1) 100%);
            background: linear-gradient(to bottom,  rgba(243,243,243,1) 0%,rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ffffff',GradientType=0 );
        }

        .project__tabs-box span{
            display: block;
            font-size: 14px;
            color: #777;
            line-height: 17px;
            position: relative;
            z-index: 10;
        }

    .project__buttons{
        display: block;
        margin-left: 10px;
    }

        #product .project__buttons .popup-request, #product .project__buttons .popup-request:hover{
            padding: 14px 67px;
            margin-top: 0;
        }

        .project__buttons .project-request--price-text{
            display: block;
            width: 100%;
            vertical-align: bottom;
            padding-bottom: 20px;
        }

        .project__buttons .project-request--price-value{
            display: inline-block;
            vertical-align: bottom;
            line-height: 30px;
        }

        .project__buttons .popup-request, .project__buttons .popup-request:hover{
            padding: 15px 60px 12px;
            margin-right: 10px;
            margin-left: -10px;
            border: 1px solid rgb(109,61,40);
            vertical-align: top;
            margin-top: 1px;
        }

        .project__buttons__nav{
            width: 100%;
            display: flex;
            display: -ms-flex;
            display: -webkit-flex;
            justify-content: space-between;
            -ms-justify-content: space-between;
            -webkit-justify-content: space-between;
            margin-top: 23px;
            margin-left: -10px;
        }

            .project__buttons__nav-link{
                width: 260px;
                height:70px;
                box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
                border-radius: 5px;
                overflow: hidden;
                position: relative;
                display: inline-block;
                vertical-align: top;
                background: #f1f1f1;
            }

                .project__buttons__nav-link:after{
                    position: absolute;
                    content: '';
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    width: 260px;
                    height:70px;
                    border: 6px solid rgba(255,255,255,0.4);
                    border-radius: 5px;
                    z-index: 5;
                }

                .project__buttons__nav-link img{
                    display: inline-block;
                    vertical-align: top;
                    height:70px;
                    width: 70px;
                }

                .project__buttons__nav-link span{
                    color: #6d3d28;
                    font-size: 12px;
                    width: 160px;
                    display: inline-block;
                    vertical-align: middle;
                    height: 70px;
                    padding-left: 7px;
                    padding-top: 16px;
                    text-transform: uppercase;
                }

                    .project__buttons__nav-link:hover span{
                        text-decoration: underline;
                    }

                    .project__buttons__nav-link span strong{
                        display: block;
                        font-weight: 700;
                        font-size: 16px;
                    }

                .project__nav--next.project__buttons__nav-link img{
                    float: right;
                }

                .project__nav--next.project__buttons__nav-link span{
                    padding-left: 25px;
                }


.product-form--wrap{
    width: 620px;
    background: #fff;
}

.result{
    display: block;
    font-size: 24px;
    color: #6d3d28;
    font-weight: 500;
    padding: 30px;
    text-align: center;
}
.product-form__info-wrap{
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: stretch;
    -ms-align-items: stretch;
    -webkit-align-items: stretch;
}

    .product-form__info{
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 300px;
        border:1px solid #d9d9d9;
        border-right: none;
    }

        .product-form__info--img{
            display: block;
            width: 100%;
            max-height: 180px;
            margin: 0 auto;
        }
        .product-form__info--area{
            position: absolute;
            top:15px;
            left:20px;
            z-index: 10;
            background: rgba(0,0,0,0.7);
            color: #fff;
            padding: 5px 8px;
            font-family: Arial, sans-serif;
            font-size: 14px;
        }

        .product-form__info--title{
            padding: 15px 10px 0;
            font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
            font-size: 16px;
            display: block;
            color: #000;
        }

            .product-form__info--title strong{
                display: block;
                font-size: 24px;
                color: #6d3d28;
                font-weight: 500;
            }

        .product-form__info--content--text{
            color: #777;
            padding: 10px 10px 0;
            font-size: 14px;
        }

        .product-form__info--content--price{
            font-size: 30px;
            color: #6d3d28;
            font-weight: 500;
            display: block;
            padding-left: 10px;
        }

    .product-form__fieldset{
        display: inline-block;
        vertical-align: top;
        width: 320px;
        padding: 20px;
        background: #ece8e2;
        border:1px solid #d9d9d9;
    }

        .product-form__fieldset label span{
            font-weight: normal;
            font-size: 12px;
            color: #777;
        }

    .product-form__fieldset label.error{
        position: relative;
    }

        .product-form__fieldset label.error:after{
            z-index: 15;
            position: absolute;
            content: 'Пожалуйста, заполните все обязательные поля!';
            bottom: -23px;
            left: 0;
            padding: 3px 5px;
            background: #fff;
            font-size: 11px;
            color: #f00;
        }

        .product-form__fieldset--title{
            display: block;
            font-size: 16px;
            color: #000;
        }

        .product-form__fieldset .jq-selectbox .select{
            box-shadow: none;
            border: 1px solid #d9d9d9;
            height: 38px;
            padding: 10px 0 7px;
            width: 278px;
        }

        .form--field{
            display: block;
            border: 1px solid #d9d9d9;
            height: 38px;
            padding-left: 7px;
            width: 278px;
            border-radius: 4px;
            margin-top: 20px;
            outline: none;
            font-weight: normal;
        }

        textarea.form--field{
            height: 88px;
            padding-top: 10px;
            resize: none;
        }

        .product-form__fieldset--star{
            color: #777;
            display: block;
            padding-top: 20px;
        }
    .form--button{
        border: 1px solid #d9d9d9;
        border-top:none;
        padding: 20px;
        text-align: right;
    }

    .form--submit{
        color: #fff;
        background: rgb(109,61,40);
        background: -moz-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(109,61,40,1)), color-stop(100%, rgba(94,54,37,1)));
        background: -webkit-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        background: -o-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        background: -ms-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        background: linear-gradient(to bottom, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d3d28', endColorstr='#5e3625', GradientType=0 );
        text-shadow: 0px -1px 0px rgb( 0, 0, 0 );
        box-shadow: none;
        padding: 13px 25px 11px;
        margin-right: 10px;
        margin-left: -10px;
        border: 1px solid rgb(109,61,40);
        border-radius: 5px;
        text-transform: uppercase;
        vertical-align: top;
        outline: none;
    }

    .form--close{
        padding: 13px 25px 11px;
        vertical-align: top;
        outline: none;
    }

    .product-form--wrap .jq-selectbox .dropdown{
        top:50px !important;
    }

    .jq-file__name{
        box-sizing: border-box;
        width: 100%;
        height: 32px;
        padding: 0 80px 0 10px;
        color: #333;
        font: 14px/30px Arial, sans-serif;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border: 1px solid #CCC;
        border-bottom-color: #B3B3B3;
        border-radius: 4px;
        box-shadow: inset 1px 1px #F1F1F1;
        background: #FFF;
    }

    .jq-file__browse{
        position: absolute;
        top: 1px;
        right: 1px;
        padding: 0 10px;
        border-left: 1px solid #CCC;
        border-radius: 0 4px 4px 0;
        box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
        color: #333;
        text-shadow: 1px 1px #FFF;
        font: 14px/30px Arial, sans-serif;
    }

.page--banners{
    background: url(../img/foh-header.jpg) no-repeat 50% 0;
    padding-top: 20px;
}

#product .carousel-reviews .text-right{
    float: right;
    margin-top: -47px;
}

.breadcrumbs{
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
}

    .breadcrumbs__el{
        padding-right: 20px;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }

        .breadcrumbs__el:after{
            position: absolute;
            content: '';
            width: 4px;
            height: 8px;
            background: url(../img/icon__bred-arrow-right) no-repeat 0 0;
            top: 5px;
            right: 5px;
        }

        .breadcrumbs__el:last-child:after{
            background: none;
        }

        .breadcrumbs__el a{
            display: block;
            text-decoration: underline;
            color: #6d3d28;
            font-size: 14px;
            text-transform: uppercase;
        }

            .breadcrumbs__el a:hover{
                text-decoration: none;
            }

        .breadcrumbs__el span{
            display: block;
            font-weight: bold;
            color: #6d3d28;
            font-size: 14px;
            text-transform: uppercase;
        }

    .project .btn-default:hover{
        background-position: 0 -21px;
    }

    #product .btn-default.active:hover{
        color: #fff;
        border-color: transparent;
        background: rgb(109,61,40);
        background: -moz-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(109,61,40,1)), color-stop(100%, rgba(94,54,37,1)));
        background: -webkit-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        background: -o-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        background: -ms-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        background: linear-gradient(to bottom, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d3d28', endColorstr='#5e3625', GradientType=0 );
        text-shadow: 0px -1px 0px rgb( 0, 0, 0 );
    }

@media (min-width: 1200px) {
    .project-complectation--more.btn.btn-default.btn-lg{
        background: none;
        border: none;
        box-shadow: none;
        font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-decoration: underline;
        display: inline-block;
        vertical-align: top;
        text-transform: none;
        padding: 25px 0 0 0;
        letter-spacing: -1px;
        margin-left: 14px;
        text-shadow: none;
    }

    .project__info__photo--other-photo{
        position: absolute;
        bottom: 19px;
        left: 600px;
        right: 20px;
        display: flex;
        display: -ms-flex;
        display: -webkit-flex;
        justify-content: space-between;
        -ms-justify-content: space-between;
        -webkit-justify-content: space-between;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .project__info__photo--main-photo{
        width: 560px;
        height: 495px;
    }

    .project{padding-top: 2px;}
    .project .row{margin-left: 0;}

    .project__info__content{
        width: 380px;
    }

    .project__info__photo--other-photo{
        position: absolute;
        bottom: 10px;
        left: 580px;
        right: 0;
        display: block;
        overflow: hidden;
        height: 125px;
    }

        .project__info__photo--other-photo a{
            display: inline-block;
            vertical-align: top;
            margin: 0 15px;
        }

    .project-complectation--more.btn.btn-default.btn-lg{
        background: none;
        border: none;
        box-shadow: none;
        font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-decoration: underline;
        display: inline-block;
        vertical-align: top;
        text-transform: none;
        padding: 16px 0 0 0;
        letter-spacing: -1px;
        margin-left: 14px;
        width: 85px;
        white-space:normal;
        text-align: left;
        text-shadow: none;
    }

    .project__info__content--request{
        margin-top: 11px;
    }

    #product .project .popup-request, .project .popup-request:hover{
        padding: 17px 43px;
    }

    .project__tabs--tabs-list li{
        padding: 8px 38px 7px;
    }

    .sm-banes--text span{
        width:190px;
    }

    .video-block .clearfix{display: none!important;}

    .for-us .hidden-xs.hidden-lg{
        padding-bottom: 30px;
    }
}

@media (max-width: 991px) and (min-width: 767px){
    .project{padding-top: 2px;}
    .project .row{margin-left: 0;}

    .project__info__photo{
        width: 370px;
    }

    .project__info__photo--main-photo{
        width: 370px;
        height: 310px;
    }


    .project__info__content{
        width: 320px;
    }

    .jq-selectbox .select{
        width: 320px;
    }

    .project-complectation--more{
        margin-top: 15px;
    }

    .project__info__content--request{
        margin-top: 12px;
    }

    .project__info__content--request .popup-request, .project__info__content--request .popup-request:hover{
        width: 100%;
        margin-top: 13px;
    }

    .project__info__content--action a{
        width: 100%;
    }

    .project__info__photo--other-photo{
        display: block;
        width: 100%;
        height: 110px;
        overflow: hidden;
        margin-top: 23px;
        text-align: center;
    }

        .project__info__photo--other-photo a{
            width: 140px;
            height: 110px;
            display: inline-block;
            margin: 0 20px;
        }

    .project__tabs--tabs-list{
        display: block;
        text-align: left;
        margin-top: 44px;
        border-bottom: 1px solid #e5e5e5;
    }

        .project__tabs--tabs-list li{
            border-radius:6px;
            display: inline-block;
            vertical-align: top;
            margin: 0 5px 10px;
            padding: 10px 40px 9px;
        }

    .video-block .clearfix{display: none!important;}

    .video-block{
        margin-top: 45px;
    }

    .for-us ~ .containter .row .hidden-xs{
        padding-bottom: 30px;
    }
}

@media (max-width: 766px){
    .project{padding-top: 21px;}
    .project .row{margin-left: 0;}

    .project{
        width: 370px;
        margin: 0 auto;
    }

    .project ~ .container > h3{
        padding-right: 150px;
    }

    .carousel-reviews{
        position: relative;
    }

    #product .carousel-reviews .text-right, #product .carousel-reviews .text-left{
        position: absolute;
        top:-30px;
        right:0;
        width: 80px;
    }

    .breadcrumbs{
        margin-left: 10px;
    }

    #product .carousel-reviews .text-left{
        top: -77px;
        right: 61px;
    }

        .project__info, .project__info__photo, .project__info__content{
            width: 370px;
        }

        .project__info__photo--main-photo{
            width: 370px;
            height: 310px;
        }

        .project__info__photo--other-photo{
            width: 370px;
            height: 110px;
            overflow: hidden;
            margin-top: 31px;
            text-align: center;
        }

            .project__info__photo--other-photo a{
                display: inline-block;
                vertical-align: top;
                width: 140px;
                height: 110px;
                margin: 0 20px;
            }

        .project__info__content{
            margin-top: 8px;
            margin-left: 10px;
        }

    .project__info__content--complectation{
        width: 345px;
    }

    .jq-selectbox__select{
        width: 345px;
    }

    .project-complectation--more{
        margin-top: 15px;
        width: 345px;
    }

    .project__info__content--request .popup-request, .project__info__content--request .popup-request:hover{
        width: 345px;
        margin-top: 13px;
    }

    .project__info__content--action a{
        width: 345px;
    }

    .project__tabs--tabs-list{
        display: block;
        text-align: left;
        margin-top: 44px;
        border-bottom: 1px solid #e5e5e5;
    }

    .project__tabs--tabs-list li{
        border-radius:6px;
        display: block;
        vertical-align: top;
        margin: 0 5px 10px;
        padding: 10px 10px 9px;
    }

    .project .popup-request, .project .popup-request:hover, .project .popup-individual, .project .popup-mortgage{
        width: 345px;
        margin: 0 auto 10px;
    }

    .project__info__content--action{
        margin-top: 0;
    }

    .project__buttons__nav{
        display: block;
    }

    .project__buttons__nav-link{
        display: block;
        margin-top: 10px;
    }

    .project__buttons__nav-link.project__nav--next{
        float: right;
    }

    .product-form--wrap, .product-form__info-wrap, .product-form__info{
        display: block;
        width: 320px;
    }

    .form--button{
        text-align: left;
    }

    .form--submit, .form--close{
        padding: 13px 20px 11px;
    }
}