@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin,cyrillic);
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* End of Eric Meyer's CSS Reset */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
body { font-family: 'Ubuntu', Arial, Helvetica, sans-serif; font-size: 14px; color: #777; line-height: 1.384615; background: #fff; font-weight: 400; }
.wrapper { width: 100%; min-width: 320px; }
.thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { width: 100%; }
a, a:hover, a:focus { color: #6d3d28; text-decoration: none; }
a:hover { text-decoration: none; }
.no-pad { padding: 0; }
ul, ol { padding-left: 0; }
h3 { font-weight: 300; font-size: 30px; }
/*----------------------------------HEADER---------------------------------------*/
header { margin-bottom: 12px; background: url(../img/foh-header.jpg) no-repeat center 36px; background-size: 100% 100%; }
.header-oll { background: url(../img/fon-top.png) repeat-y; background-size: 100% 100%; padding-bottom: 20px; }
.navbar .nav-justified > li > a { background-position: center 22px; background-repeat: no-repeat; background-color: transparent; }
.company > a { background-image: url(../img/sprite/company-hov.png); }
.company > a:hover { background-image: url(../img/sprite/company.png); }
.catalogye > a:hover { background-image: url(../img/sprite/panel-hov.png); }
.catalogye > a { background-image: url(../img/sprite/panel.png); }
.photo > a { background-image: url(../img/sprite/photo.png); }
.photo > a:hover { background-image: url(../img/sprite/photo-hov.png); }
.project > a { background-image: url(../img/sprite/project.png) }
.project > a:hover { background-image: url(../img/sprite/project-hov.png) }
.tel > a { background-image: url(../img/sprite/tel.png) }
.tel > a:hover { background-image: url(../img/sprite/tel-hov.png) }
.preheader { min-height: 22px; background: #434a54; margin-bottom: 20px; }
.preheader, .write { -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.4); box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.4); }
.pre-container { line-height: 45px; color: #a8adb5; font-weight: 500; font-size: 18px; }
.pre-tel { text-align: right; }
.pre-container a { color: #a8adb5; text-decoration: underline; font-weight: 400; font-size: 15px; vertical-align: top; }
.pre-container a:hover { text-decoration: none; }
.pre-container .write { text-align: center; height: 45px; background: #b5816a; display: inline-block; color: #fff; padding: 0 20px; text-decoration: none; text-transform: uppercase; margin-left: 18px; font-size: 14px; }
.write span { display: inline-block; line-height: 20px; vertical-align: text-bottom; }
.write .icon { vertical-align: text-bottom; margin-right: 8px; font-size: 20px; line-height: 20px; }
.navbar-brand { height: auto; padding: 25px 10px; }
.navbar, #carousel-example-generic { -webkit-box-shadow: 1px 2px 3px 0px rgb( 0, 0, 0, 0.8 ); -moz-box-shadow: 1px 2px 3px 0px rgb( 0, 0, 0, 0.8 ); box-shadow: 1px 2px 3px 0px rgb( 0, 0, 0, 0.8 ); border-radius: 8px; background: none; }
.navbar { border: 0; text-transform: uppercase; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar.navbar-default, .nav.nav-justified, .navbar-default { border-color: transparent; background-image: none; }
#bs-example-navbar-collapse-1 { background: #fff; border-radius: 8px; }
.dropdown-menu.text-center { border-top: 5px solid #6d3d28; }
.dropdown-menu li.dropdown-menu__el-active{
    background: #6d3d28;
}

    .dropdown-menu li.dropdown-menu__el-active a{

        color: #fff !important;
    }

.navbar-collapse .nav > li > a, .navbar-collapse .nav > li > a:focus, .navbar-collapse .nav > li:focus > a { height: 113px; white-space: nowrap; padding: 7px 5px 11px; color: #828282; border-left: 1px solid #cecece; background-color: #fff; height: 100px; }
.navbar-collapse .nav > li > a:hover, .navbar-collapse .nav > li.active > a, .navbar-collapse .nav > li.hover, .navbar-collapse .nav > li.active { color: #b5816a; }
.navbar-collapse .nav > li.hover, .navbar-collapse .nav > li.active { border-color: #6d3d28 }
.navbar-collapse .nav > li:last-child a { border-radius: 0 8px 8px 0; }
.nav .open > a:before, .nav .open > a:hover:before, .nav > .open > a:focus:before, .nav.nav-justified > li > a:hover:before, .nav.nav-justified > li > a:hover:before, .nav.nav-justified > li.active > a:before, .nav.nav-justified > li.hover > a:before { content: ''; display: block; position: absolute; width: 100%; height: 7px; background: url(../img/arrow.png) no-repeat top center; top: 0; left: 0; }
.navbar-collapse .icon { font-size: 30px; line-height: 60px; display: block; }
.collapse.navbar-collapse { padding: 0; }
.dropdown-menu { width: 100%; border-radius: 0; font-size: 11px; min-width: 100px; border: 0; margin-top: 1px; }
.show-on-hover .dropdown-menu > li > a { line-height: 30px; text-align: center; padding: 0 5px; color: #6d3d28; }
.show-on-hover .dropdown-menu > li > a:hover { background: rgb(109,61,40); background: -moz-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(109,61,40,1)), color-stop(100%, rgba(94,54,37,1))); background: -webkit-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%); background: -o-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%); background: -ms-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%); background: linear-gradient(to bottom, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d3d28', endColorstr='#5e3625', GradientType=0 );
color: #fff; }
.navbar.navbar-default .navbar-toggle { margin-right: 31px; border: 0; background-color: transparent; margin-top: 31px; }
/*.navbar-toggle .icon-bar { border-radius: 2px; height: 6px; width: 27px; }*/
.navbar-collapse .nav > li > a > img { margin-bottom: 11px; margin-top: 29px; vertical-align: middle; }
.navbar-collapse .nav > li.brand > a { border: 0 none; height: 100px; margin: 0; padding: 0; border-radius: 10px 0 0 10px; }
.navbar-collapse .nav > li.brand { border: 0;}

.navbar-collapse .nav > li.brand:hover > a:before { background: none; }
.dropdown-menu { width: 100%; }
.carousel-indicators { bottom: 0; left: auto; margin-left: 0; padding-left: 0; right: 0; text-align: right; width: auto; margin-right: 9px; }
.carousel-indicators li { background-color: #fff; border: 1px solid #e5e5e5; border-radius: 3px; cursor: pointer; display: inline-block; height: 18px; margin: 5px; text-indent: -999px; width: 18px; }
.carousel-indicators .active { height: 18px; margin: 5px; width: 18px; border: 1px solid #6d3d28; background: #b5816a; }
.carousel-caption { border-radius: 0 6px 0 6px; background: url(../img/caption.png) repeat; padding: 14px; right: 0; bottom: auto; top: 0; /*width: 433px;*/ text-align: left; padding: 18px; }
.carousel-caption h3 { margin-top: 15px; color: #333; font-size: 29px }
.in-caption { background: #fff; border: 1px solid #d1dae1; border-radius: 0 6px 0 6px; padding: 0 18px 18px; text-shadow: none; color: #777; height: 100%; width: auto; }
.carousel-caption .btn { text-transform: uppercase; color: #b5816a; }
.carousel .item { height: 295px; background-repeat: no-repeat; background-position: top center; border-radius: 8px; }
#carousel-example-generic { margin-bottom: 21px; }
.sm-banes { height: 100px; background-color: #f1f1f1; border-radius: 5px; margin-bottom: 20px; font-size: 24px; color: #333; }
.sm-banes span { height: 100px; display: inline-block; background-repeat: no-repeat; background-position: left top; border-radius: 5px; vertical-align: middle; width: 100%; }
.sm-banes, .sm-banes span { webkit-box-shadow: inset 1px 0px 0px 8px rgba(255, 255, 255, 0.4); -moz-box-shadow: inset 1px 0px 0px 8px rgba(255, 255, 255, 0.4); box-shadow: inset 1px 0px 0px 8px rgba(255, 255, 255, 0.4); }
.sm-banes small { font-size: 15px; line-height: 21px; display: block; }
.sm-banes .no-btn { background: #f1f1f1; height: 84px; line-height: 24px; margin-left: -27px; margin-top: 8px; padding-top: 24px; padding-left: 20px; display: block; color: #333; }
.sm-1 span { background-image: url(../img/botheader-xs.jpg); }
.sm-2 span { background-image: url(../img/botheader-1-xs.jpg) }
.sm-3 span { background-image: url(../img/botheader-2-xs.jpg) }
.item-1 { background-image: url(../images/baner-lg.jpg) }
.btn-default{  border-style: solid;
  border-width: 1px;
  border-color: rgb( 229, 229, 229 );
  border-radius: 5px;
  background-image: -moz-linear-gradient( 90deg, rgb( 243, 243, 243 ) 0%, rgb( 255, 255, 255 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 243, 243, 243 ) 0%, rgb( 255, 255, 255 ) 100%);
  box-shadow: 0px 2px 0px 0px rgb( 193, 193, 193 ); font-size:14px; font-weight:400;}
.btn-default, .btn-default:hover { text-transform: uppercase; color: #6d3d28;  font-weight:400;}
.sm-banes .btn-default { margin-top: 33px; }
/*-----------------------------------CONTENT-----------------------------------------------------*/
.content { padding-bottom: 40px; }
#carousel-reviews .carousel-control { bottom: auto; font-size: 15px; line-height: 20px; margin-left: 8px; }
#carousel-reviews .carousel-inner { margin-bottom: 20px; padding-bottom: 5px }
#carousel-reviews .icon { font-size: 22px; line-height: 15px; margin: 0; vertical-align: text-top; }
#carousel-reviews .carousel-control { padding:8px 7px; }
.select.btn-group > .btn { border-radius: 5px !important; margin-right: 20px; }
.select.btn-group > .btn.active, .footer-in .btn:hover, .footer-top .nav li a:hover, .footer-top .nav li.active a { color: #fff; border-color: transparent; background: rgb(109,61,40); background: -moz-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(109,61,40,1)), color-stop(100%, rgba(94,54,37,1))); background: -webkit-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%); background: -o-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%); background: -ms-linear-gradient(top, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%); background: linear-gradient(to bottom, rgba(109,61,40,1) 0%, rgba(94,54,37,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d3d28', endColorstr='#5e3625', GradientType=0 ); text-shadow: 0px -1px 0px rgb( 0, 0, 0 );


}

.footer-in{
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    height: 63px;
}

.has_compain .footer-in{

}

.footer-top .nav li.active

.select.btn-group { margin-bottom: 25px; }
.select.btn-group > .btn.no-btn { padding: 0 12px; border-radius: 2px !important; }
.item-in img { border-radius: 6px 6px 0 0; width: 100%; height: auto; }
.item-in { border-radius: 6px; border: 1px solid #d9d9d9; background: #fff; }
.footer-in { border-top: 1px solid #d9d9d9; background: #f4f4f4; border-radius: 0 0 6px 6px; padding: 2px 2px 2px 13px; }
.footer-in span { display: inline-block; font-size: 24px; color: #6d3d28; font-weight: 500; }
.footer-in .btn { float: right; box-shadow:none; }
.item-content { padding: 15px 10px 25px; }
.category { color: #333; }
.item-content h4 { font-weight: 500; color: #6d3d28; }
.square { position: absolute; display: block; background: url(../img/square.png) repeat; padding: 8px; top: 9px; left: 13px; color: #fff; z-index: 2000;}
.item-img { position: relative; }
.item-caption { position: absolute; display: block; bottom: 10px; right: 10px; display: none; }
.item-img:hover > .item-caption { display: block; }
.item-caption .btn { color: #414141; border: 1px solid #e5e5e5; background: #fff; padding: 7px 7px 4px; margin-left: 10px; }
.overflov { min-height: 78px; margin: 0; }
.for-us { background: rgb(202,202,204); background: -moz-linear-gradient(left, rgba(202,202,204,1) 0%, rgba(246,246,246,1) 26%, rgba(248,248,248,1) 53%, rgba(246,246,246,1) 78%, rgba(202,202,204,1) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(202,202,204,1)), color-stop(26%, rgba(246,246,246,1)), color-stop(53%, rgba(248,248,248,1)), color-stop(78%, rgba(246,246,246,1)), color-stop(100%, rgba(202,202,204,1))); background: -webkit-linear-gradient(left, rgba(202,202,204,1) 0%, rgba(246,246,246,1) 26%, rgba(248,248,248,1) 53%, rgba(246,246,246,1) 78%, rgba(202,202,204,1) 100%); background: -o-linear-gradient(left, rgba(202,202,204,1) 0%, rgba(246,246,246,1) 26%, rgba(248,248,248,1) 53%, rgba(246,246,246,1) 78%, rgba(202,202,204,1) 100%); background: -ms-linear-gradient(left, rgba(202,202,204,1) 0%, rgba(246,246,246,1) 26%, rgba(248,248,248,1) 53%, rgba(246,246,246,1) 78%, rgba(202,202,204,1) 100%); background: linear-gradient(to right, rgba(202,202,204,1) 0%, rgba(246,246,246,1) 26%, rgba(248,248,248,1) 53%, rgba(246,246,246,1) 78%, rgba(202,202,204,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacacc', endColorstr='#cacacc', GradientType=1 );
border: 1px solid #dcdcdc; border-left: 0; border-right: 0; margin-top: 30px; padding: 38px 0 27px; }
.for-us p { font-size: 16px; margin-bottom: 30px; }
.for-us .no-pad { margin-bottom: 27px; }
.for-us h3 { font-size : 30px; margin-top: 0; line-height: 30px; }
.for-us h3 a { color: #333; }
.for-us-smol { display: table; width: 100%; }
.for-us-smol p { font-size: 38px; color: #6d3d28; font-weight: 700; margin: 0; line-height: 35px; }
.for-us-smol li:last-child div { padding: 17px 10px; }
.for-us-smol li div { text-align: center; padding: 7px 3px; text-transform: uppercase; color: #333; border: 1px solid #8e8e8e; border-radius: 6px; margin-bottom: 10px; line-height: 20px; white-space: nowrap; }
.news img { float: left; margin: 0 17px 24px 0; }
.news p { line-height: 16px; margin-bottom: 5px; }
.news-block .list-inline { font-size: 11px; color: #808080; }
.news-block .list-inline a { font-size: 12px; }
.news-block .list-inline a:hover { text-decoration: underline; }
.news-block { border-top: 1px dashed #e6e6e6; }
.first-news { border: 0; }
.video-list-thumbs  a{ display:inline-block; position:relative;}
.play { display: block; position: absolute; background: url(../img/video.png) repeat; width: 82px; height: 60px; border-radius: 8px; top:50%; left: 50%; margin: -30px 0 0 -41px; padding: 18px 33px 18px 34px; opacity: 0.6; filter: alpha(opacity=60); }
.play:hover { opacity: 1; filter: alpha(opacity=100); }
.video-list-thumbs li a { color: #444; }
.video-list-thumbs li a img { width: 100% }
.video-list-thumbs li a:hover { color: #6d3d28; text-decoration: underline; }
.play span { display: block; width: 17px; height: 24px; background: url(../img/video-a.png) no-repeat center center; }
.item-img a{ display:inline-block; width:100%;}
.item-img a:before{ content:"";display: none; position: absolute; top:0; left:0; right:0; bottom:4px; background:url(../img/square.png) repeat; opacity:0.5;  }
.item-img a:hover:before{ display:block;}
.news-block h4 a { color: #333; }
a.row{ display:inline-block; width:100%;}
.sm-banes a{ text-decoration:none;}
.sm-banes .btn{ font-style:normal;}
.sm-banes i{ font-style:normal;}
.owl-item-one { padding:10px;}

.sm-banes .sm-banes--text{
    display: block;
    background: none !important;
    border-radius: 0;
    border-bottom: 1px solid transparent;
}

    .sm-banes--text span{
        display: block;
        background: none !important;
        box-shadow: none !important;
        height: auto;
    }

        .sm-banes--text span i{
            font-style: normal;
            border-bottom: 1px solid transparent;
            display: inline;
            color: #333;
            font-size: 24px;
            line-height: 24px;
            font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
            font-weight: 400;
        }

        .sm-banes--text span i small{
            border-bottom: 1px solid transparent;
            display: inline;
            font-size: 15px;
            line-height: 21px;
        }

.sm-banes a:hover .sm-banes--text span i{
    border-bottom: 1px solid #333;
}

.title-link{
    color: #777;
    border-bottom: 1px solid transparent;
}

    .title-link:hover{
        border-bottom: 1px solid #6d3d28;
    }

/*-----------------------------------------------------FOOTER-----------------------------------------*/
.footer { padding-bottom: 30px; }
.footer-top { background: url(../img/foh-header.jpg) no-repeat top center; background-size: 100% auto; -webkit-box-shadow: inset 0px 0px 3px 4px rgba(0, 0, 0, 0.37); -moz-box-shadow: inset 0px 0px 3px 4px rgba(0, 0, 0, 0.2); box-shadow: inset 0px 0px 3px 4px rgba(0, 0, 0, 0.2); min-height: 35px; padding: 10px 0; margin-bottom: 10px; }
.footer-top .nav { text-align: center; text-transform: uppercase; }
.footer-top .nav li { display: inline-block; }
.footer-top .nav li a { border-radius: 5px; }
.footer-top .nav > li > a { display: block; padding: 10px 10px; position: relative; }
.logo-footer { padding: 18px 0 50px }
.footer .cutstring { line-height: 16px; }
.footer-post { font-family: Arial, Helvetica, sans-serif; }
.footer-post a { color: #1d77a9; text-decoration: underline; }
.footer-post a:hover { text-decoration: none; }
.footer-post h4 { font-family: 'Ubuntu', Arial, Helvetica, sans-serif; text-transform: uppercase; }
.inform span { display: inline-block; width: 82%; vertical-align: top; }
.footer-post .icon { color: #6d3d28; }
.call span { white-space: nowrap; }
.navbar.navbar-default { background: #fff; }
.navbar-collapse .nav > li { border: 6px solid transparent; height: 85px; border-left: 0; border-right: 0; }
.navbar-collapse .nav { height: auto; }
.navbar-collapse .nav > li { height: 85px; margin-bottom:23px }
		/*************** @media ******************/
@media (min-width: 755px) {
.navbar-collapse .nav > li > a { font-size: 11px; }
}
@media (min-width: 768px) {
#bs-example-navbar-collapse-1 { background: #fff; border-radius: 8px; padding-right: 8px; }
.navbar-collapse .nav { background-color: transparent; height: 106px; margin-top: -6px; border-radius: 8px; }
.navbar-collapse .nav > li { border: 6px solid transparent; height: 81px; margin: -6px -1px -6px -1px; height: 85px; border-left: 0; border-right: 0; }
.container { width: 740px; }
.navbar-collapse .nav > li > a { font-size: 11px; }
.sm-1 span { background-image: url(../img/botheader-sm.jpg) }
.sm-2 span { background-image: url(../img/botheader-1-sm.jpg) }
.sm-3 span { background-image: url(../img/botheader-2-sm.jpg) }
.sm-banes .no-btn { padding-top: 17px; }
.sm-3 small { display: inline-block; font-size: 24px; }
.sm-3 .no-btn { padding-top: 13px; }
.sm-banes span { background-position: right top; }
.for-us-smol li { display: table-cell; vertical-align: bottom; padding: 0 5px; }
.for-us-smol { margin: 0 -5px; }
.show-on-hover:hover > ul.dropdown-menu { display: block; }
}
@media (min-width:750px) {
.dropdown-menu { width: 100%; }
}
@media (min-width: 992px) {
.container { width: 980px; }
.navbar-brand { padding-left: 10px; }
    .navbar-collapse .nav > li > a { font-size: 14px; }
.sm-banes span { background-position: right top; }
.sm-1 span { background-image: url(../img/botheader-md.jpg); }
.sm-2 span { background-image: url(../img/botheader-1-md.jpg); }
.sm-3 span { background-image: url(../img/botheader-2-md.jpg) }
.sm-banes .no-btn { padding-left: 5px; }
.sm-3 small { display: block; font-size: 15px; }
.sm-3 .no-btn { padding-top: 17px; }
.for-us { padding-bottom: 27px; }
.navbar-collapse .nav > li > a > img { margin-bottom: 10px; margin-top: 28px; }
.footer-top .nav > li > a {
    font-size: 10px;
}
}
@media (min-width: 1200px) {
	.footer-top .nav > li > a {
    font-size: 14px;
}
.navbar-collapse .nav > li.brand > a { padding-right: 200px; }
.container { width: 1180px; }
.navbar-brand { padding-left: 32px; }
.sm-1 span { background-image: url(../img/botheader-lg.jpg) }
.sm-2 span { background-image: url(../img/botheader-1-lg.jpg) }
.sm-3 span { background-image: url(../img/botheader-2-lg.jpg) }
.for-us { padding-bottom: 0; }
.for-us-smol { display: block; }
.for-us-smol li { display: inline-block; width: 49%; vertical-align: top; }
.logo-footer { padding: 18px 0 43px; }
.navbar-collapse .nav > li > a > img { margin-bottom: 10px; }
}
@media (max-width: 979px) {
.dropdown-menu { width: auto; }
.col-sm-text-center { text-align: center; }
}
 @media (max-width: 762px) {
}
 @media (min-width: 1100px) {
}
@media screen and (min-width:768px) and (max-width:998px) {
.dropdown-menu { width: auto; }
}
@media (max-width: 760px) {
header { background-position: center 15px; }
.navbar-collapse.in { overflow-y: visible; }
.dropdown-menu { width: 100%; z-index: 1600; }
.xs-no-marg { margin: 0; }
.navbar-collapse .nav > li:last-child > a { border-radius: 0 0 8px 8px; }
.col-xs-text-center { text-align: center; }
.navbar-collapse .nav > li {
    margin-top: 20px;
}
#bs-example-navbar-collapse-1{ padding:0;}


}
@media (max-width: 635px) {
.navbar-collapse .nav > li > a { font-size: 14px; border-left: 0; }
.sm-1 span { background-position: top right; }
}
@media (max-width: 550px) {
.sm-3 span { background-position: top right; }
}
 @media (max-width: 500px) {
.sm-2 span { background-position: top right; }
.select.btn-group > .btn.no-btn { padding: 0 5px; }
}
@media (max-width: 450px) {
.btn { font-size: 12px; }
.select.btn-group > .btn { margin-right: 3px; }
.btn-group.select .btn-lg,.btn-sm-xs{ padding:10px 10px;}

}
@media (max-width: 400px) {
/*.sm-banes a { padding-top: 16px; padding-left: 4px; }
.footer-post { font-size: 11px; }*/
}