<div id="popup-wrap">
  <div class="product-form--wrap">
    <form class="main-form product-form" method="post" action="send.php">
      <div class="product-form__info-wrap">
      <div class="product-form__info">
        <img src="http://lorempixel.com/200/200/" class="product-form__info--img">
        <span class="product-form__info--area">55 м2</span>
        <span class="product-form__info--title">категория товара
          <strong>ньютек</strong>
        </span>
        <p class="product-form__info--content--text">
          Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
        </p>
        <span class="product-form__info--content--price">284 000 р.</span>
      </div>
      <div class="product-form__fieldset">
        <span class="product-form__fieldset--title">Комплектация</span>
        <input type="hidden" name="id" value="" class="form-id"/>
        <select class="project-complectation--select" name="compl">
          <option value="1">Сделай сам</option>
          <option value="2">Домокомплект</option>
          <option value="3">Практичный набор</option>
          <option value="4">Под чистовую внутреннюю отделку</option>
        </select>
          <label>
              <span>Прикрепите файл проекта в формате png, jpeg или pdf</span>
              <input type="file" multiple accept="image/png,image/jpeg,image/pdf" name="fale" class="input--file">
          </label>
        <label>
        <input placeholder="Ваше имя *" type="text" name="name" value="" class="form--field required">
        </label>
        <label>
        <input placeholder="Номер телефона *" type="text" name="phone" value="" class="form--field input--phone required">
        </label>
        <label>
        <input placeholder="E-mail *" type="text" name="mail" value="" class="form--field input--mail required">
        </label>
        <textarea name="text"  class="form--field">Комментарий</textarea>
        <span class="product-form__fieldset--star">* поле обязательно для заполнения</span>
      </div>
      </div>
      <div class="form--button">
        <button class="form--submit">отправить заказ</button>
        <button class="form--close btn  btn-default btn-lg">отмена</button>
      </div>
    </form>
    <span class="result hidden-block"></span>
  </div>
  <script type="text/javascript">

          $('select').styler();
          $('.input--file').styler();

  </script>
</div>